.ludo-message{
    background-color:#F5F5F5;
    border:1px solid #888;
    border-radius:5px;
     webkit-border-radius: 5px;
     -moz-border-radius : 5px;    
    z-index: 100000;
    box-shadow:3px 3px 8px #555;
}

.ludo-message .ludo-body{
    padding:5px;
    font-size:9pt;
    font-style:italic;
    color:#555;
}