

.ludo-tab-container{
    position: relative;
    height: 30px;
}

.ludo-body-tabs{
    padding:0px;
}
.ludo-tab{
    margin-top:5px;
    height:25px;
    line-height:25px;
    padding-left:18px;
    padding-right:18px;
    float:left;
    cursor:pointer;
    font-weight:bold;
    font-family: arial;
    font-size:0.9em;
    position : relative;
    color:#000;
}
.ludo-tab-active{
    background-color:#f4f3f1;
    color:#000;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.ludo-tab-container-content{
    background-color:#d2d1cf;
}

.ludo-tab-spacer{
    margin-left:5px;
    margin-right:5px;
    height:15px;
    float:left;
    width:2px;
    margin-top:12px;
    background-color:#555;
}

.ludo-tab-active .ludo-tab-close-button{
    display : block;
}

.ludo-tab-close-button {
    position: absolute;
    right : 3px;
    top: 8px;
    width : 11px;
    height: 11px;
    display: none;
    font-size:12px;
    border-radius : 3px;
    webkit-border-radius: 3px;
    -moz-border-radius : 3px;      
    background-image : url('../images/close-tab.png');
    background-position : center center;
    background-repeat : no-repeat;
    text-align:center;
    color:#555;
}

.ludo-tab-close-button-over{
    background-color:#CCC;
}