.ludo-component-buttonbar {
    box-shadow: 0 !important;
    padding-right: 2px;
}

div.ludo-form-button {
    margin-left: 2px;
    margin-right:2px;
    background-repeat: no-repeat;
    color: #000;
    position: relative;
    text-align: center;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    background-color: transparent;

}


div.ludo-form-button-m{
    height: 23px;
}

div.ludo-form-button-l{
    height: 45px;
    font-size:14px;
    line-height:40px;
}

div.ludo-form-button-s{
    height: 14px;
}

div.ludo-form-button-l{
    height:45px;
}

.ludo-form-tiny-button{
    margin-top:2px;
}
div.ludo-form-button div {
    padding: 0 ! important;
    background-color: transparent;
    -moz-user-select: none;
}

div.ludo-form-button-disabled {
    cursor: default;
    color:#555;
}

.ludo-form-button-selected .ludo-form-button-m-bg-left {
    background-image: url('../images/button/button-bg-light-selected.png');
}

.ludo-form-button-selected .ludo-form-button-m-bg-right {
    background-image: url('../images/button/button-bg-light-selected.png');
}

div.ludo-form-button-disabled .ludo-form-button-m-bg-left {
    background-image: url('../images/button/button-bg-light-disabled.png');
}

div.ludo-form-button-disabled .ludo-form-button-m-bg-right {
    background-image: url('../images/button/button-bg-light-disabled.png');
}

.ludo-form-button-over .ludo-form-button-m-bg-left {
    background-image: url('../images/button/button-bg-light-over.png');
}

.ludo-form-button-over .ludo-form-button-m-bg-right {
    background-image: url('../images/button/button-bg-light-over.png');
}

.ludo-form-button-down .ludo-form-button-m-bg-left {
    background-image: url('../images/button/button-bg-light-down.png');
}

.ludo-form-button-down .ludo-form-button-m-bg-right {
    background-image: url('../images/button/button-bg-light-down.png');
}
.ludo-form-button-bg-left{
    width: 55%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
}
.ludo-form-button-bg-right{
    height: 100%;
    width: 55%;
    background-repeat: no-repeat;
    position: absolute;
    background-position: top right;
}

.ludo-form-button-m-bg-left {
    background-image: url('../images/button/button-bg-light.png');
}

.ludo-form-button-m-bg-right {
    background-image: url('../images/button/button-bg-light.png');
}


.ludo-form-button-value {
    background-repeat:no-repeat;
    background-position:center center;
}

.ludo-form-button-l .ludo-form-button-value{
    font-size:16px;
    line-height:44px;
}
.ludo-form-button-s .ludo-form-button-value{
    line-height:14px;
}

.ludo-form-button-m .ludo-form-button-value{
    line-height:22px;
}

.ludo-buttonbar-component-content .ludo-form-button {
    padding-top: 2px;
}


