.ludo-combo, .ludo-Filter-Tree-Combo-Field {
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 2px;
    border-radius: 5px !important;
    border: 1px solid #AAA;
    background-image: url(../images/combo/bg-form-combo.png);
    background-repeat: repeat-x;
}

div.ludo-combo div.ludo-body {
    font-weight: bold;
    padding: 0;
}

div.ludo-combo-menu {
    background-image: none;
    padding: 0;
}

div.ludo-combo-menu .ludo-menu-item {
    border-radius: 0;
}

div.ludo-combo-menu .ludo-menu-item-over {
    background-color: #99bf2e;
    border-color: #99bf2e;
    color: #FFF;
}

div.ludo-combo-menu .ludo-menu-item-selected {
    background-color: #99bf2e;
    border-color: #99bf2e;
    color: #FFF;
    font-weight: bold;
}

.ludo-combo-arrow {
    position: absolute;
    width: 15px;
    height: 100%;
    right: 0;
    top: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../images/expand-menu-horizontal.png');
}

.input-row .ludo-menu-button{
    background-color:#eeeee8;

}
.form-combo-child{
    border:1px solid #d7d7d7;
    box-shadow: 2px 2px 5px 0px #555;
}
.input-row .ludo-menu-button-arrow{
    border-left:1px solid #d7d7d7;
}