.ludo-Filter-Tree-Window{
    border-radius:0;
    padding:2px;
    padding-top:0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-color:#000;
}
.ludo-Filter-Tree-Window .ludo-window-component-content{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.ludo-Filter-Tree-Window .ludo-component-resize-both{
    background-image:none;
}
.ludo-Filter-Tree-Window .ludo-body{
    background-color:#FFF;
    padding-right:0;
    padding-top:0;
}
.ludo-filter-tree input{
    border-radius:2px;
    background-color:#FFF;
}

input.ludo-filter-tree-input-active{
    background-color:#FFF;
}

.ludo-input-simple-filter-tree{
    background-color:#f1f1f1;
    border-bottom:1px solid #959595;
}

.ludo-Filter-Tree-Combo-Field{
    cursor:pointer;
}
div.ludo-Filter-Tree-Combo-Field div.ludo-body{
    padding:0;
    height:22px;
}

.ludo-Filter-Tree-Field-Arrow{
    position:absolute;
    right:3px;
    top:0;
    height:22px;
    width:15px;
    background-image: url("../../images/dropdown-arrow.gif");
    background-position: center center;
    background-repeat:no-repeat;
    z-index:100;
}
.ludo-Filter-Tree-Bg-Left, .ludo-Filter-Tree-Bg-Right{
    background-image:url('../../images/bg-combo-field.png');
    background-repeat:no-repeat;
}
.ludo-Filter-Tree-Bg-Left{
    width:60%;
    position:absolute;
    height:100%;
    left:0;
    background-position:top left;
}
.ludo-Filter-Tree-Bg-Right{
    width:60%;
    position:absolute;
    height:100%;
    right:0;
    background-position:top right;
}
.ludo-Filter-Tree-Combo-Value{
    z-index:120;
    position:absolute;
    line-height:22px;
    left:5px;
    top:0;
    font-size:10px;
    font-weight:bold;
    width:100%;
}