.ludo-progress-bg {
    background-color: #444;
    border: 2px solid #333333;
}

.ludo-progress-pr {
    background-color: #1976D2;

}

.ludo-progress-text {
    color: #FFFFFF;
    font-size: 12px;
    font-family:arial, sans-serif;
}

.ludo-progress-donut-bg{
    background-color: #444444;
    border: 2px solid #333333;
}

.ludo-progress-donut-bar{
    background-color: #1976D2;
}