.ludo-tab-close{
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url(../images/layout/tab-close.png);
    position:absolute;
    cursor:pointer;
}
.ludo-tab-close-top-over,.ludo-tab-close-bottom-over{
    background-image:url(../images/layout/tab-close-over.png);
}
.ludo-tab-close-top, .ludo-tab-close-bottom{
    right:2px;
    top:2px;
    height:90%;
    width:12px;
}

.ludo-tab-close-right{
    background-image:url(../images/layout/tab-close-right.png);
    bottom:2px;
    width:90%;
    height:12px;
}
.ludo-tab-close-left{
    background-image:url(../images/layout/tab-close-left.png);
    top:2px;
    width:90%;
    height:12px;
}
.ludo-tab-close-right-over{
    background-image:url(../images/layout/tab-close-right-over.png);
}
.ludo-tab-close-left-over{
    background-image:url(../images/layout/tab-close-left-over.png);
}