You can modify the appearance of your according using css stylesheet<
h4>Collapse/Expand icon</h4>
The collapse icon can be changed by setting a background image on the CSS classes "ludo-accordion-expanded"
and "ludo-accordion-collapsed". <br><br>This is the default styling:<br>
<code>.ludo-accordion-collapsed{<br>
    &nbsp;&nbsp;width:14px;<br>
    &nbsp;&nbsp;height:100%;<br>
    &nbsp;&nbsp;float:left;<br>
    &nbsp;&nbsp;background: url(../images/accordion/accordion-collapsed.png) no-repeat center
    center;<br>
    }<br><br>
    .ludo-accordion-expanded{<br>
    &nbsp;&nbsp;background: url(../images/accordion / accordion - expanded.png) no-repeat center center<br>}</code>
<br>
<br>If you want to right align the expand icon, you can change it\'s position to absolute and setting the right property to 0