.ludo-view {
    background-color: #DDD;
}

div.ludo-menu-vertical {
    background-color: #FFF;
}

.ludo-menu-vertical .ludo-menu-item {
    background-color: transparent;
}

.ludo-menu-vertical .ludo-menu-item-over {
    background-color: #FFF;
}

.ludo-menu-item-horizontal {
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
}

.ludo-menu {
    font-family: arial !important;
    font-size: 11px;
}


.ludo-menu div {
    background-color: transparent;
}

.ludo-menu div.ludo-menu-item-spacer-horizontal {
    background-color: #888;
}

div.ludo-grid-header-container {
    background-image: url('../images/gray-skin/grid-header-22.png');
    height: 23px;
    line-height: 22px;
}

div.ludo-grid-header-cell{
    border-right:1px solid #000;
}
.ludo-window div.ludo-grid{
    border:0px !important;
    box-shadow : 0px;
    border-radius:0px;
}
span.ludo-grid-header-cell-text-sort-desc {
    background-image: url("../images/blue-skin/grid-sort-desc.png");
}

span.ludo-grid-header-cell-text-sort-asc {
    background-image: url("../images/blue-skin/grid-sort-asc.png");
}
.ludo-framed-view .ludo-body{
    margin:5px;
    border:1px solid #000;
    overflow:hidden;
}
.ludo-framed-view .ludo-body .ludo-body{
    margin:0px;
    border:0px;
}
.ludo-grid{
    border-radius:0px !important;
}
.ludo-view{
    background-color:#777;
}

div.ludo-grid-header-container{
    background-color:#777;
    width:2000px;
}
div.ludo-framed-view-body{
    background-color:#777;
}
div.ludo-framed-view-titlebar {
    background-image: url("../images/black-skin/bg-title-bar.png");
    border-bottom:1px solid #000;
    background-color:#c6e1ff;
    height:24px;
}
div.ludo-body-grid{
    padding:0px;
}

div.ludo-grid-header-cell {
    border-bottom:1px solid #000;
}
div.ludo-grid-last-header-cell{
    border-right:0px;
}
div.ludo-framed-view-titlebar{
    border-bottom:1px solid #000;
    height:24px;
}

div.ludo-framed-view{
    border:1px solid #000;
}
.ludo-body{
    font-size:11px;
}

div.ludo-framed-view-titlebar-title{
    font-size:12px;
    color:#FFF;
}
div.ludo-component-statusbar {
    background-color:#777;
    border-top: 0px solid #AAAAAA;
}
div.ludo-window, div.ludo-framed-view-shim, div.ludo-dashboard-insertion-marker{
    border-radius:3px;
}
div.ludo-richcomponent {
    border-radius: 0px;
}

.ludo-richcomponent .ludo-component-statusbar-resize-height{
    display:none;
}
.ludo-window .ludo-component-statusbar-resize-height{
    display : ''
}

div.ludo-grid-resize-handle{
    border-left:0px;
}
div.ludo-grid .ludo-body{
    background-color:#FFF;
}
.ludo-grid-highlighted-record{
    font-weight:bold;
    background-color:#CCC;
}
.ludo-component-buttonbar{
    background-color:#777;
    border-top:1px solid #000;
}
.ludo-title-bar-button-container-close {
    background-image:url('../images/blue-skin/button-close.png');
    background-position:bottom center;
}

.ludo-window{
    background-image:url('../images/blue-skin/bg-window-panels.png');
    background-repeat:repeat-x;
}

div.ludo-application,div.ludo-application-content{
    border-width:0px !important;
}

.ludo-layout-resize-col{
    background-color:transparent;
    background-image:url('../images/black-skin/horizontal-resize.png')
}
.ludo-component-statusbar-resize-both{
    background-image:none;
}
div.ludo-resize-handle-over{
    background-color:#888;
}
.ludo-layout-resize-row{
    height:6px;
    opacity:1;
    background-color:transparent;
    filter:alpha(opacity=100);
    background-image:url('../images/vertical-resize.gif');
    background-position:center center;
    background-repeat:no-repeat;
}
/* IMPORTANT - SHOULD ALSO BE IN ludo-ALL.css */
.ludo-resize-handle-drag{
    background-color:#CCC;
}

.ludo-application-content .ludo-component-statusbar-resize-horizontal{
    display:none;
}
.ludo-application-content .ludo-component-statusbar-resize{
    display:none;
}
.ludo-application-content .ludo-component-statusbar-resize-both{
    display:none;
}
div.ludo-container-frame{
    border:1px solid #000 !important;
}
.ludo-form-button-m-bg-left{
    background-image:url('../images/gray-skin/button-bg.png');
}

.ludo-form-button-m-bg-right{
    background-image:url('../images/gray-skin/button-bg.png');
}

.ludo-form-button-over .ludo-form-button-m-bg-left{
    background-image:url('../images/gray-skin/button-bg-over.png');
}

.ludo-form-button-over .ludo-form-button-m-bg-right{
    background-image:url('../images/gray-skin/button-bg-over.png');
}

.ludo-form-button-down .ludo-form-button-m-bg-left{
    background-image:url('../images/gray-skin/button-bg-down.png');
}

.ludo-form-button-down .ludo-form-button-m-bg-right{
    background-image:url('../images/gray-skin/button-bg-down.png');
}



.ludo-title-bar-button-container{
    right : 4px;
    top:4px;
    background-color:#6d88a6;
    border:0px;
}
.ludo-view-collapsed{
    border-color:#000;
}
.ludo-view-collapsed-over{
    background-color:#bbd7f9;
}

.ludo-window{
    border:1px solid #000 !important;
}


/** Title bar buttons */
.ludo-title-bar-button-container{
    right : 2px;
    top:4px;
    padding-left:2px;
    padding-right:2px;
    background-color:transparent;
    border-radius:0;
    border:0;
    height:16px;
}
.ludo-title-bar-button{
    height:14px;
    margin-top:1px;
    margin-bottom:1px;
    background-position: center center;
}
.ludo-title-bar-button-container-left-edge{
    background-image:url('../images/gray-skin/bg-title-bar-buttons.png');
}
.ludo-title-bar-button-container-right-edge{
    background-image:url('../images/gray-skin/bg-title-bar-buttons.png');
}


.ludo-title-bar-button-close{
    background-image:url('../images/gray-skin/title-bar-btn-close.png');
}
.ludo-title-bar-button-close-over{
    background-image:url('../images/gray-skin/title-bar-btn-close-over.png');
}
.ludo-title-bar-button-minimize{
    background-image:url('../images/gray-skin/title-bar-btn-minimize.png');
}
.ludo-title-bar-button-minimize-over{
    background-image:url('../images/gray-skin/title-bar-btn-minimize-over.png');
}

.ludo-title-bar-button-maximize{
    background-image:url('../images/gray-skin/title-bar-btn-maximize.png');
}
.ludo-title-bar-button-maximize-over{
    background-image:url('../images/gray-skin/title-bar-btn-maximize-over.png');
}
.ludo-title-bar-button-collapse-left {
    background-image: url('../images/gray-skin/title-bar-btn-coll-left.png');
}

.ludo-title-bar-button-collapse-left-over {
    background-image: url('../images/gray-skin/title-bar-btn-coll-left.png');
}

.ludo-title-bar-button-collapse-right {
    background-image: url('../images/gray-skin/title-bar-btn-coll-right.png');
}

.ludo-title-bar-button-collapse-right-over {
    background-image: url('../images/gray-skin/title-bar-btn-coll-right-o.png');
}

.ludo-title-bar-button-collapse-bottom {
    background-image: url('../images/gray-skin/title-bar-btn-coll-down.png');
}

.ludo-title-bar-button-collapse-bottom-over {
    background-image: url('../images/gray-skin/title-bar-btn-coll-down-o.png');
}

.ludo-title-bar-button-collapse-top {
    background-image: url('../images/gray-skin/title-bar-btn-coll-up.png');
}

.ludo-title-bar-button-collapse-top-over {
    background-image: url('../images/gray-skin/title-bar-btn-coll-up-o.png');
}

.ludo-title-bar-button-with-border {
    border-left:1px solid #AAA;
}

.ludo-view-collapsed-title{
    padding:1px;
    font-weight:bold;
    padding-left:5px;
}
.ludo-window{
    border:1px solid #000 !important;
}
.ludo-component-resize-both{
    background-image: url('../images/blue-skin/resize-dots.png');
}
div.ludo-form-el-invalid label{
    color:#F00;
}