body.ludo-twilight{
    background-color:#282828;
    -webkit-font-smoothing: antialiased;
}

.ludo-twilight .ludo-body{
    color:#aeb0b0;
}
.ludo-twilight .ludo-view{
    background-color:#535353;
    color:#aeb0b0;
}


.ludo-twilight .ludo-framed-view-titlebar-title{
    text-align:center;
    width:100%;
}
.ludo-twilight .ludo-framed-view-titlebar{
    background-color:#424242;

    font-weight:normal;
    border-bottom:1px solid #383838;
    border-radius:0;
    color:#FFF;
}


.ludo-twilight .ludo-window > .ludo-framed-view-titlebar{
    border-top-left-radius:7px;
    border-top-right-radius:7px;
    background-color:#e3e3e4;
    color:#000;
}

.ludo-twilight div.ludo-framed-view{
    border:1px solid #424242;
}


.ludo-twilight .ludo-window > .ludo-body {
    margin: 5px;
    border: 1px solid #383838;
}

.ludo-twilight .ludo-window{
    box-shadow:2px 2px 3px #111;
}

/**
tab layout */
.ludo-twilight .ludo-tab-strip{
    background-color:#424242;

}
.ludo-twilight .ludo-tab-expand-box{
    background-color:#424242;
}

.ludo-twilight .ludo-tab-expand-box-top{
    background-image:url(../images/twilight-skin/tabs-expand-top.png);
}

.ludo-twilight .ludo-tab-expand-box-top-over{
    background-image:url(../images/twilight-skin/tabs-expand-top-over.png);
}


.ludo-twilight .ludo-tab-expand-box-bottom{
    background-image:url(../images/twilight-skin/tabs-expand-bottom.png);
}

.ludo-twilight .ludo-tab-expand-box-bottom-over{
    background-image:url(../images/twilight-skin/tabs-expand-bottom-over.png);
}

.ludo-twilight .ludo-tab-strip-tab{
    border-color:#383838;
}

.ludo-twilight .ludo-tab-close{
    background-image:url(../images/layout/tab-close.png);
}
.ludo-twilight  .ludo-tab-close-top-over,.ludo-tab-close-bottom-over{
    background-image:url(../images/layout/tab-close-over.png);
}


.ludo-twilight div.ludo-tab-strip-tab span{
    color:#aeb0b0;
    font-size:0.7em;
}

.ludo-twilight div.ludo-tab-strip-tab-active span{
    color:#EEE;
}

.ludo-twilight div.ludo-tab-strip-tab-bg{
    border-color:#383838;
}

.ludo-twilight .ludo-tab-strip-tab-active div.ludo-tab-strip-tab-bg{
    border-color:#535353 !important;
}

.ludo-twilight .ludo-tab-strip .ludo-tab-strip-line {
    background-color: #535353;
    border-color:#383838;
}

.ludo-twilight .ludo-tab-strip-bottom .ludo-tab-strip-line{
    border-top-width:0;
    height:4px;
}

.ludo-twilight .ludo-tab-strip-top .ludo-tab-strip-line{
    border-bottom-width:0;
    height:4px;
}

.ludo-twilight .ludo-tab-strip,
.ludo-twilight div.ludo-tab-strip-left div.ludo-body,
.ludo-twilight .ludo-tab-strip-top {
    border-width:0;
}
.ludo-twilight div.ludo-tab-strip-tab-active {
    background-color: #535354;
}


/** View pager */
.ludo-twilight .viewpager-dot{
    background-color:#aeb0b0;
}

.ludo-twilight .ludo-tab-strip-tab-txt-svg{
    color:#aeb0b0;
}

/** Accordion **/
.ludo-twilight .ludo-accordion{
    border:1px solid #383838;
    overflow:hidden;
}

.ludo-twilight .ludo-accordion-titlebar{
    background-color: #424242;
    border-radius:0;
}

.ludo-twilight .ludo-accordion-titlebar .ludo-framed-view-titlebar-title{
    width:auto;
    color:#aeb0b0;
}

/** Not the first child */
.ludo-twilight .ludo-accordion-titlebar-below-expanded{
    border-top: 1px solid #383838;
}

.ludo-twilight .ludo-framed-view .ludo-body {
    overflow: hidden;
}

.ludo-twilight .ludo-accordion-collapsed {
    background-image:url(../images/twilight-skin/accordion-collapsed.png);
}
.ludo-twilight .ludo-accordion-expanded {
    background-image:url(../images/twilight-skin/accordion-expanded.png);
}

.ludo-twilight .ludo-body a{
    color:#4FC3F7;
}

/**
Collapse bar
*/
.ludo-twilight .ludo-collapse-bar{
    background-color:#535354;
}
.ludo-twilight .ludo-collapse-bar-left{
    border-left:1px solid #424242;
    border-top:1px solid #424242;
    border-bottom:1px solid #424242;
}
.ludo-twilight .ludo-collapse-bar-right{
    border-right:1px solid #424242;
    border-top:1px solid #424242;
    border-bottom:1px solid #424242;
}
.ludo-twilight .ludo-collapse-bar-bottom{
    border:1px solid #424242;
    border-top:1px solid #424242;
}
.ludo-twilight .ludo-collapse-bar-top{
    border:1px solid #424242;
}
.ludo-twilight .collapse-bar-button{
    border:1px solid #424242;
}

.ludo-twilight .collapse-bar-button-over{
    border:1px solid #424242;
}
.ludo-twilight .collapse-bar-button-active{
    background-color:#424242;
    border-left:1px solid #424242;
    border-top:1px solid #424242;
}
.ludo-twilight .collapse-bar-button-active .collapse-bar-button-bg-first{
    border-top:1px solid #424242;
    border-right:1px solid #424242;
}
.ludo-twilight .collapse-bar-button-active .collapse-bar-button-bg-last{
    border-bottom:1px solid #424242;
    border-left:1px solid #424242;
}

.ludo-twilight div.ludo-resize-handle-active{
    background-color:#424242;
}




    /** Button **/

.ludo-twilight .ludo-form-button-bg-right,
.ludo-twilight .ludo-form-button-bg-left{
    display:none;
}

.ludo-twilight .ludo-form-button{
    height:24px;
}

.ludo-twilight .ludo-form-button .ludo-body{
    border:1px solid #aeb0b0;
    background-color:#535354;
    border-radius:999px;
}

.ludo-twilight .ludo-form-button div.ludo-form-button-over{
    border:1px solid #ccc;
}


.ludo-twilight .ludo-view-buttonbar{
    height:30px;
}
.ludo-twilight div.ludo-form-button-disabled{
    color:#aeb0b0;
    opacity:0.5;
}
.ludo-twilight .ludo-form-button div.ludo-form-button-down{
    background-color:#aeb0b0;
    color:#535354;
}


.ludo-twilight div.ludo-form-element input{
    height:14px;
}



.ludo-twilight .ludo-view-with-buttonbar {
    padding-bottom: 5px !important;
}

/** Calendar */

.ludo-twilight .calendar-day{
    margin:1px;
    padding:1px;
    border:1px solid transparent;
}

.ludo-twilight .ludo-calendar-header td{
    font-size:11px;
    color:#aeb0b0;
}


.ludo-twilight.ludo-calendar-container-days{
    background-color:#535354;
}

.ludo-twilight .calendar-week{
    background-color:#535354;
    color:#FFF;
}
.ludo-twilight .calendar-day-selected,
.ludo-twilight .calendar-day-today,
.ludo-twilight .calendar-day-mouse-over{
    border-radius:999px;
}

.ludo-twilight .calendar-day-today{

}

.ludo-twilight  td.calendar-day-selected {
    background-color: #fff;
    border:1px solid transparent;

}

.ludo-twilight .calendar-day-mouse-over {
    background-color: transparent;
    border:1px solid #fff;
}


.ludo-twilight  div.ludo-calendar-month-year-selected{
    background-color:#aeb0b0;
    color:#535354;
    border-radius:999px;
}

.ludo-twilight  div.ludo-calendar-month-year-selected{
    background-color:#aeb0b0;
    color:#535354;
    border-radius:999px;
}


.ludo-twilight .ludo-calendar-body-days{
    background-color:#aeb0b0 !important;
    color:#535354;

}

.ludo-twilight .ludo-calendar-body-days td{

    font-size:11px;
}
.ludo-twilight .calendar-sunday{
    color:#D32F2F;
}



/** Grid **/

.ludo-twilight .ludo-grid div.ludo-resize-handle-active{
    background-color: transparent;

}


.ludo-twilight .ludo-grid-header-cell {
    border-right: 1px solid #424242;
    border-bottom: 1px solid #424242;
}


.ludo-twilight .ludo-grid-Grid div.ludo-active-record {
    font-weight: bold;
    background-color: #424242;

}
.ludo-twilight .ludo-grid-Grid .ludo-menu-button-active{
    background-color:#535354;
    border-left:1px solid transparent;
}

.ludo-twilight .ludo-grid-data-container{
    color:#000;
}


/** grid **/

.ludo-twilight .ludo-grid-Grid .ludo-body,
.ludo-twilight .ludo-grid-data-container {
    background-color: transparent;
}

.ludo-twilight .ludo-grid-data-cell {
    border-color:transparent;
    color: #aeb0b0;

}

.ludo-twilight .ludo-grid-data-column{
    border-right:1px solid #424242;
}

/* Styling for cells in odd rows in grid */
.ludo-twilight  .ludo-grid-data-odd-row {
    background-color:#535354;
}
/* Styling for cells in even rows in grid */
.ludo-twilight  .ludo-grid-data-even-row {
    background-color:#565656;
}


.ludo-twilight .ludo-grid-Grid .ludo-cell-text-sort-asc {
    background-image: url(../images/twilight-skin/grid-sort-asc.png);
}

.ludo-twilight .ludo-grid-Grid .ludo-cell-text-sort-desc {
    background-image: url(../images/twilight-skin/grid-sort-desc.png);
}

.ludo-twilight .ludo-view-resize-region-se {
    background-image: url(../images/twilight-skin/resize-dots.png);
}

.ludo-twilight .ludo-menu-button .ludo-menu-button-arrow{
    border-left:1px solid #424242;
}

.ludo-twilight .ludo-menu-button-active{
    background-image:url(../images/twilight-skin/button-arrow.png);
}

/** Menu **/

.ludo-twilight .ludo-menu-item-horizontal {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 20px;
}

.ludo-twilight div.ludo-menu-vertical {
    background-color: #535354;
    background-image:none;
}
.ludo-twilight .ludo-menu .ludo-body{
    color:#FFF;
}

.ludo-twilight .ludo-menu-item-active .ludo-body,
.ludo-twilight .ludo-menu-item-over .ludo-body{
    color:#424242;
}

.ludo-twilight .ludo-menu-vertical .ludo-menu-item {
    background-color: transparent;
}



.ludo-twilight .ludo-menu-item-horizontal {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    color: #000;

}

.ludo-twilight .ludo-menu {
    font-family: arial,serif !important;
    font-size: 11px;
    color:#FFF;
}

.ludo-twilight .ludo-menu div {

}

.ludo-twilight .ludo-menu div.ludo-menu-item-spacer-horizontal {
    background-color: #424242;
}

.ludo-twilight .ludo-menu div.ludo-menu-item-spacer-vertical {
    background-color: #424242;
    margin-top:2px;
    margin-bottom:2px;
    height:1px;
}
.ludo-twilight .ludo-menu-horizontal .ludo-menu-item {
    font-weight: bold;
    color: #333;
}
.ludo-twilight .ludo-menu-horizontal .ludo-menu-item-active {
    background-color: #FFF;
}

.ludo-twilight .ludo-menu-vertical .ludo-menu-item-over {
    background-color: #FFF;
}

.ludo-twilight .ludo-menu-horizontal .ludo-menu-item-over {
    background-color: transparent;
    color: #000;
    border-color: #000;
}

.ludo-twilight .ludo-menu-item-horizontal.ludo-menu-item-over,
.ludo-twilight .ludo-menu-horizontal .ludo-menu-item-active {
    /* background-image: url(../images/light-gray-skin/bg-horizontal-menu-over.png); */
    background-color:#CCC;
}

.ludo-twilight .ludo-menu-vertical {
    border: 1px solid #424242;
    background: url(../images/light-gray-skin/menu-bg-vertical.png) repeat-y;
    -moz-box-shadow: 1px 1px 4px #555;
    -webkit-box-shadow: 1px 1px 4px #555;
    box-shadow: 1px 1px 3px #555;
}


.ludo-twilight .ludo-menu-vertical .ludo-menu-item-over,
.ludo-twilight .ludo-menu-vertical .ludo-menu-item-active {
    background-color: #FFF;
    border: 1px solid #c6c6c6;
    padding-left: 34px;
    padding-right: 19px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 2px;
    color: #000;
}

.ludo-twilight .ludo-menu-item-vertical-expand {
    background-image: url(../images/expand-menu.png);
}

.ludo-twilight .ludo-menu-item-horizontal-expand {
    background-image: url(../images/light-gray-skin/expand-menu-horizontal.png);
}

.ludo-twilight .ludo-menu-horizontal  div.ludo-menu-item-expand{
    background-image: url(../images/twilight-skin/expand-menu-horizontal.png);
}
.ludo-twilight div.ludo-menu-horizontal-up div.ludo-menu-item-expand {
    background-image: url(../images/twilight-skin/expand-menu-up.png);
}


/** Forms */

.ludo-twilight .ludo-body label{
    color:#aeb0b0;
}

/** Viewpager nav */

.ludo-twilight .ludojs-viewpager-dot{
    background-color:#ccc;
}


/** Notification **/

.ludo-twilight .ludo-notification{
    background-color:#0D47A1;
    color:#FFF;
    padding:10px;
    border-radius:999px;
}

.ludo-twilight .ludo-tree-selected-node{
    color:#FFF;
}

/** Paging buttons **/

.ludo-twilight .ludo-paging-previous .ludo-form-button-value{
    background-image:url(../images/twilight-skin/paging-previous.png);
}

.ludo-twilight  .ludo-paging-first .ludo-form-button-value{
    background-image:url(../images/twilight-skin/paging-first.png?rnd=1);
}

.ludo-twilight  .ludo-paging-next .ludo-form-button-value{
    background-image:url(../images/twilight-skin/paging-next.png);
}


.ludo-twilight .ludo-form-button-disabled.ludo-paging-previous .ludo-form-button-value{
    background-image:url(../images/twilight-skin/paging-previous-disabled.png);
}
.ludo-twilight .ludo-form-button-disabled.ludo-paging-next .ludo-form-button-value{
    background-image:url(../images/twilight-skin/paging-next-disabled.png);
}

.ludo-paging-last .ludo-form-button-value{
    background-image:url(../images/twilight-skin/paging-last.png);
}
.ludo-form-button-disabled.ludo-paging-last .ludo-form-button-value{
    background-image:url(../images/twilight-skin/paging-last-disabled.png);
}

.ludo-twilight .ludo-form-button-disabled.ludo-paging-first .ludo-form-button-value{
    background-image:url(../images/twilight-skin/paging-first-disabled.png);
}

/** Form text */
.ludo-twilight .ludo-form-text-element input,
.ludo-twilight .ludo-form-textarea textarea{
    background-color:#535354;
    color:#aeb0b0;
}

.ludo-twilight .ludo-form-element,
.ludo-twilight .ludo-form-text-element
{
    background-color:#535354;
    color:#aeb0b0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}

.ludo-twilight div.ludo-form-textarea .ludo-form-text-element{

    border:1px solid #aeb0b0;
}