.ludo-accordion-container{
    overflow:hidden;
    position:relative;
}

.ludo-accordion-collapsed{
    width:14px;
    height:100%;
    float:left;
    background: url(../images/accordion/accordion-collapsed.png) no-repeat center center;
}

.ludo-accordion-expanded{
    background: url(../images/accordion/accordion-expanded.png) no-repeat center center;

}


.ludo-accordion-titlebar{
    cursor:pointer;
    border-radius:0;

}
div.ludo-accordion-title
{
    position:relative;
    float:left;
}