.ludo-list-item{
    cursor:pointer;
    position:relative;
}

.ludo-list-item-front{
    position:relative;
    z-index:10;
}

.ludo-list-item-back-left, .ludo-list-item-back-right, .ludo-list-item-back-undo{
    position:absolute;
    width:100%;
    height:100%;
}


.ludo-list-view >.ludo-empty-text{
    position:absolute;
    text-align:center;
    top:30%;
    width:100%;
}