.ludo-panel{
    margin:5px;
}

.ludo-panel fieldset{
    border-radius : 5px;
     -webkit-border-radius: 5px;
     -moz-border-radius : 5px;    

}
.ludo-panel .ludo-view{
    margin:2px;
}
.ludo-panel .ludo-view .ludo-view{
    padding-left:0;
    padding-right:0;
}

.ludo-view fieldset{
    padding:0;
    margin:2px;
}