.ludo-column-resize-handle {
    opacity: 0.05;
    filter: alpha(opacity = 5);
    background-color: #CCC;
    width: 5px;
}

.ludo-resize-handle {
    opacity: 0;
    filter: alpha(opacity = 0);

}

.ludo-resize-handle-row {
    height: 6px;
}

.ludo-resize-handle-col {
    width: 6px;
}

.ludo-layout-resize-col {
    background-image: url('../images/horizontal-resize.gif');
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 1;
    filter: alpha(opacity = 100);
}

.ludo-layout-resize-row {
    height: 6px;
    opacity: 1;
    filter: alpha(opacity = 100);
    background-image: url('../images/vertical-resize.gif');
    background-position: center center;
    background-repeat: no-repeat;
}

div.ludo-resize-handle-over {
    opacity: 0.5;
    filter: alpha(opacity = 50);
    background-color: #CCC;
}

div.ludo-resize-handle-active {
    opacity: 1;
    filter: alpha(opacity = 100);
    background-color: #CCC;
}

.ludo-resize-handle-drag {
    background-color: #CCC;
}



.ludo-shim-resize {
    border: 1px dashed #777;
}

.ludo-view-resize-el {
    position: absolute;
    padding: 0 !important;
    border: 0 !important;
    margin: 0 !important;
    z-index: 15500;
    background-color: transparent !important;
}

.ludo-view-resize-region-s {
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    bottom: 0;
    height: 7px;
    width: 100%;
    cursor: s-resize;
    z-index: 15500;
}

.ludo-view-resize-region-e {
    top: 5%;
    width: 5px;
    right: 0;
    height: 90%;
    cursor: ew-resize;
}

.ludo-view-resize-region-w {
    height: 90%;
    left: 0;
    top: 5%;
    width: 3px;
    cursor: ew-resize;
}

.ludo-view-resize-region-n {
    width: 90%;
    top: 0;
    left: 5%;
    height: 4px;
    cursor: ns-resize;
}

.ludo-view-resize-region-nw, .ludo-view-resize-region-ne, .ludo-view-resize-region-sw {
    width: 7px;
    height: 7px;
}

.ludo-view-resize-region-nw {
    top: 0;
    left: 0;
    cursor:nwse-resize;
}

.ludo-view-resize-region-ne {
    top: 0;
    right: 0;
    cursor:nesw-resize;

}

.ludo-view-resize-region-sw {
    left: 0;
    bottom: 0;
    cursor:nesw-resize;
}

.ludo-view-resize-region-se {
    background-image: none;
    background-repeat: no-repeat;
    cursor:nwse-resize;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 15500;
    width: 11px;
    height: 11px;
}

.ludo-view-resize-right {
    background-position: left center;
}

.ludo-view-resize-right {
    cursor: w-resize;
    height: 100%;
    width: 3px;
    z-index: 15500;
    right: 0;
}
