.ludo-window{
    box-shadow:2px 2px 3px #888;
    position:absolute;
    left:0;top:0;
}
.ludo-window, .ludo-richcomponent, .ludo-framed-view-shim {
    border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    -webkit-border-radius: 7px 7px 0 0;
}