.ludo-window{
    box-shadow:2px 2px 3px #888;
    position:absolute;
}
.ludo-window, .ludo-dashboard-column .ludo-richcomponent, .ludo-rich-view-shim {
    border-radius: 7px 7px 0px 0px;
    -moz-border-radius: 7px 7px 0px 0px;
    webkit-border-radius: 7px 7px 0px 0px;
}